@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
}

hr {
  visibility: hidden;
}

.App {
  position: relative;
  height: 100vh;
}

.Header {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-image: url('./images/pattern-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
 }

.Header h1 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 1.5rem 0 .5rem 0;
}

.Header form {
  margin: 1rem 0 8rem 0;
}

.ip-input {
  width: 70%;
  padding: 1.08rem;
  border-radius: 10px 0 0 10px;
  border: 0;
}

.submit-button {
  width: 15%;
  background-color: hsl(0, 0%, 17%);
  border-radius: 0 10px 10px 0;
  border: 0;
  padding: 1rem;
}

.Display {
  background: white;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: absolute;
  top: 26%;
  width: 90%;
  left: 5%;
  z-index: 2;
  border-radius: 10px;
 }

 .result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: .5rem;
 }

 .result h5 {
  font-size: .60rem;
  letter-spacing: 2px;
  color: hsl(0, 0%, 59%);
  padding-bottom: .25rem;
 }

 .result p {
  font-weight: 700;
 }

 .leaflet-container {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

@media screen and (min-width: 375px) {
  .Display {
    top: 22%;
  }
}

@media screen and (min-width: 414px) {
  .Display {
    top: 20%;
  }
}

@media screen and (min-width: 750px){
  .ip-input {
    width:30%;
  }

  .submit-button {
    width: 5%;
  }

  .Display {
    flex-direction: row;
    width: 80%;
    left: 10%;
    top: 25%;
  }

    hr {
      visibility: visible;
      margin: 20px;
      width: 5%;
      -webkit-transform:rotate(90deg);
      transform: rotate(90deg);
    }

}

/* @media screen and (min-width: 1024px){
  .Display {
    top:27%;
    width: 75%;
    left: 12%;
  }
} */